*.exe
*.class
*.o
*.hi
*.txt
*.so 
*.log
*.out
*.lock

.vscode
.idea
target

node_modules

# 
golang/test/
golang/gRPC/Accounts/keys

# just for fun
/exercise

# ???
/rust/sapper/sapper_demo/target

/react/todolist/node_modules
/react/todolist/.gitignore

# .gitignore

